/* LOADING ANIMATION */
body{
  display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes bounce{
  from { transform: translate(0px, 25px);     }
  to   { transform: translate(0px, 200px); }
}

.coffee {
  animation: bounce 1.5s;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(.5,0.05,0.2,.5);
  animation-iteration-count: infinite;
}

.gold{
  animation: bounce 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(.5,0.05,0.7,.5);
  animation-iteration-count: infinite;
}

.corn{
  animation: bounce 1.6s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,0.5,.5);
  animation-iteration-count: infinite;
}

.cotton {
  animation: bounce 1.2s;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(.5,0.05,0.4,.5);
  animation-iteration-count: infinite;
}

.cow {
  animation: bounce 1.8s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,0.6,.5);
  animation-iteration-count: infinite;
}
