


































































































.oats,
.rice,
.silver,
.soybean,
.sugar,
.wheat,
.cattle,
.corn,
.coffee,
.cocoa,
.copper,
.cotton,
.dairy,
.gold {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.oats {
  background-image: url(images/oats.jpg);
}

.rice {
  background-image: url(images/rice.jpg);
}

.silver {
  background-image: url(images/silver.jpg);
}

.soybean {
  background-image: url(images/soybean.jpg);
}

.sugar {
  background-image: url(images/sugar.jpg);
}

.wheat {
  background-image: url(images/wheat.jpg);
}
